     
        <nav class="navbar navbar-expand-lg   navbar-dark bg-dark navbar-fixed-top ">
            <img src="assets\logo.png" height="40px" width="80px"/>
            <a class="navbar-brand" href="#">GiftCard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
              
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/landingpage']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['placeorder']" >PlaceGiftOrder</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['vieworder']" routerLinkActive="router-link-active" >ViewOrder</a>
                  </li>
                  
                  
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" [routerLink]="['contact']" routerLinkActive="router-link-active"> ContactUs</a></li>

            </ul>
            </div>
          </nav>
   
       
 <router-outlet></router-outlet>

 


 
 <!-- <div>
     <a href="placeorder.html" type="button" class="btn btn-warning btn-lg">PlaceOrder</a>
 </div> -->

 <div class="sidenav">
    <a [routerLink]="['/landingpage']">Home</a>
    <a [routerLink]="['placeorder']" >Place Order</a>
    <a [routerLink]="['vieworder']">View Order</a>
    <a [routerLink]="['contact']">Contact Us</a>
</div>