.a{
    margin-top:100px;
    margin-left:500px;
}

input[type=text]
{
    font-size:10px;
     width: 170px; 
    padding: 0PX;
    size: 9px; 
    border-radius:20px;


}
button{
    background-color:rgb(68, 65, 68); 
    font-size:20px;
    color:black; 
    size: 20px; 
    padding: 8px 12px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
margin-left: 70px;
    
}
textarea{
    font-size: 10PX;
    border-radius: 20px;
    width: 250PX;
    height: 80px;
    margin-left: -30px;
}